@model inmobiliaria_santi.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
}

<div class="text-center mb-4">
    <h1>Crear Contrato</h1>
</div>

<form asp-action="Crear">
    <div class="form-group col-md-6 mx-auto">
        <label for="idInmueble">Inmueble</label>
        <select class="form-control" asp-for="idInmueble" asp-items="ViewBag.Inmuebles"></select>
    </div>
    
    <div class="form-group col-md-6 mx-auto">
        <label for="idInquilino">Inquilino</label>
        <select class="form-control" asp-for="idInquilino" asp-items="ViewBag.Inquilinos"></select>
    </div>

    <div class="form-group col-md-6 mx-auto">
        <label for="fechaInicio">Fecha de Inicio</label>
        <input type="date" class="form-control" asp-for="fechaInicio" />
    </div>

    <div class="form-group col-md-6 mx-auto">
        <label for="fechaFin">Fecha de Fin</label>
        <input type="date" class="form-control" asp-for="fechaFin" />
    </div>

    <div class="form-group col-md-6 mx-auto">
        <label for="montoRenta">Monto de Renta</label>
        <input type="number" class="form-control" asp-for="montoRenta" />
    </div>

    <div class="form-group col-md-6 mx-auto">
        <label for="deposito">Depósito</label>
        <input type="text" class="form-control" asp-for="deposito" />
    </div>

    <div class="form-group col-md-6 mx-auto">
        <label for="comision">Comisión</label>
        <input type="text" class="form-control" asp-for="comision" />
    </div>

    <div class="form-group col-md-6 mx-auto">
        <label for="condiciones">Condiciones</label>
        <textarea class="form-control" asp-for="condiciones"></textarea>
    </div>

    <!-- Ocultando los campos multa y fecha de terminación temprana -->
    @Html.HiddenFor(m => m.multaTerminacionTemprana)
    @Html.HiddenFor(m => m.fechaTerminacionTemprana)
    @Html.HiddenFor(m => m.porcentajeMulta)
    @Html.HiddenFor(m => m.usuarioEliminacion)
    @Html.HiddenFor(m => m.usuarioCreacion)
    @Html.HiddenFor(m => m.estado)


    <button type="submit" class="btn btn-primary mx-auto d-block">Crear Contrato</button>

</form>
